:root {
  --color-main: #5f5f79;

  --color-main-darker: #494964;
  --color-main-darker-2: #585772;

  --color-main-lighter: #6f6f89;

  --color-button: #c36cbb;
}

html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  /* its good idea to add background to all over the class to make have good vision abouts whats going on */
  /* background-color: wheat; */
  align-items: center;

  /* why ? */
  height: 10vh;

  /* this is going to use repeated */
  width: 90%;
  margin: 0 auto;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  /* background-color: lightblue; */
  flex: 1;
}
.logo {
  font-weight: 400;
  margin-left: 5px;
}

nav {
  /* background-color: greenyellow; */
  flex: 2;
}
.nav-links {
  list-style: none;
  justify-content: space-between;
}
.nav-link {
  color: var(--color-main);
  text-decoration: none;
}
.cart {
  /* background-color: tomato; */
  flex: 1;
  justify-content: flex-end;
}

.persentation {
  display: flex;
  min-height: 80vh;
  align-items: center;

  /* this is same like we did in the header */
  width: 90%;
  margin: 0 auto;
}
.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}
.cover img {
  height: 100%;
  /* width: 100%; */

  filter: drop-shadow(0px 5px 3px black);
  /* transition: all 0.2s; */
  animation: drop 1.5s ease;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(
    to right,
    var(--color-main-darker),
    var(--color-main-lighter)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.intro-text p {
  font-weight: 300;
  margin-top: 5px;
  font-size: 17px;
  color: var(--color-main-lighter);
  /* color: red; */
}

.cta {
  padding: 50px 0 0 0;
}

.cta-select {
  font-family: "Poppins", sans-serif;
  color: var(--color-button);
  border: 2px solid currentColor;
  background-color: transparent;

  /* this is going to repeat to cta-add */
  width: 150px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 30px;
}

.cta-add {
  background: var(--color-button);
  width: 150px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
}

.big-circle {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
  height: 80%;
}

.medium-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}

.small-circle {
  position: absolute;
  bottom: 0;
  left: 20%;
  z-index: -1;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .persentation {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }

  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }

  .cta {
    padding-top: 10px;
  }

  .cover img {
    height: 30%;
  }

  .small-circle,
  .medium-circle,
  .big-circle {
    opacity: 0.1;
  }
}
