.circle {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  background: radial-gradient(
    circle at 30% 80%,
    rgba($color: #7f7f94, $alpha: 0.6),
    rgba($color: #9f9faf, $alpha: 0)
  );

  //   overflow: hidden;

  &--big {
    top: -35%;
    right: -10%;
    width: 80rem;
    height: 80rem;
    opacity: 0.2;
  }
  &--medium {
    top: 25%;
    right: 30%;
    width: 50rem;
    height: 50rem;
    opacity: 0.15;
  }
  &--small {
    top: 45%;
    right: 55%;
    width: 44rem;
    height: 44rem;
    opacity: 0.08;
  }
}
