.circle {
  position: absolute;
  z-index: -1;

  border-radius: 50%;
  margin: 10px;
  background: radial-gradient(circle at 30% 70%, #ffff00, #774400);

  &--big {
    top: -35%;
    right: -10%;
    width: 80rem;
    height: 80rem;
  }
  //   &--medium {
  //   }
  //   &--small {
  //   }
}
