.cta {
  // background-color: red;
  &,
  &:link,
  &:visited {
    padding: 2rem 5rem;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: var(--borderradius-button);
  }

  &--add,
  &--add :link,
  &--add :visited {
    background-color: var(--color-button);
    transition: all 0.2s;
    color: white;
  }
  &--select,
  &--select:link,
  &--select:visited {
    color: var(--color-button);
    border: 2px solid currentColor;
  }

  &--add:hover {
    filter: brightness(95%);
  }
}
