html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: var(--color-main);
}
