:root {
  --color-main: #5f5f79;

  --color-main-darker: #434355;
  --color-main-darker-2: #262630;

  --color-main-lighter: #7f7f94;
  --color-main-lighter-2: #8f8fa1;
  --color-main-lighter-3: #9f9faf;

  --color-button: #c36cbb;

  --color-secondary: #c36cbb;

  // borderadius
  --borderradius-button: 3px;
}
$color-main: var(--color-main);
$color-button: var(--color-button);
$color-main-lighter: var(--color-main-lighter);
